* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  height: 100%;
  width: 100%;
}

.imagem-fundo {
  width: 1396px;
  height: 701px;
  background:
    linear-gradient(160deg,
      rgba(90, 180, 255, 0.35) 0%,
      rgba(90, 180, 255, 0.15) 25%,
      transparent 40%),
    linear-gradient(-20deg,
      rgba(120, 200, 255, 0.25) 0%,
      transparent 50%),
    radial-gradient(circle at 80% 20%,
      rgba(150, 220, 255, 0.35),
      transparent 45%),
    linear-gradient(135deg,
      #0f2027,
      #203a43,
      #2c5364);
}

.transparente {
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  position: absolute;
  right: 400px;
  top: 100px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow:
    0 0 30px rgba(120, 200, 255, 0.3),
    0 0 90px rgba(120, 200, 255, 0.2);

}

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 110px;
  height: 60vh;
}

/*
  margin: 120px 150px 100px 120px;
}
*/

.login-container h1 {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-container h4 {
  margin-bottom: 15px;
}

.login-container input {
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.entrada {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 5px;
}

.entrada button {
  width: 300px;
  height: 30px;
  background-color: #2c5364;
  margin-bottom: 10px;
}

.unico {
  margin-left: 170px;
  margin-bottom: 20px;
  margin-top: -18px;
}

.account {
  margin-top: 10px;
  align-self: flex-end;

  font-size: small;
}
